nav {
  display: flex;
  background-color: #F55A5A;
  color: white;
  padding-top: 27.5px;
  padding-bottom: 27.5px;
  justify-content: center;
  align-items: center;
}

.nav--icon {
  margin-right: 7px;
}

.nav--title {
  margin: 0;
  padding: 0;
}

.main {
  display: grid;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.card {
  width: 470px;
  font-size: 12px;
  flex: 0 0 auto;        /* ADD */
  display: flex;          /* ADD */
  flex-direction: column; /* ADD */
  position: relative;
  padding: 8px;
}

.card--image {
  height: auto;
}